<p>Nous espérons que vous allez bien. Nous vous contactons pour vous informer que malheureusement,
    votre réservation {{ info }} a été annulée en raison de circonstances indépendantes de notre volonté.
</p>

<p>Nous comprenons que cela puisse être inconfortable et nous nous excusons pour tout inconvénient que cela pourrait vous causer. Cependant, nous sommes là pour vous aider à reprendre votre voyage rapidement et facilement.
</p>

<p>Nous vous invitons à suivre le lien ci-dessous pour effectuer une nouvelle réservation :</p>
<a href="{{ link_to_reserve_new }}">Réserver un nouveau trajet</a>

<p>Ce lien vous dirigera vers notre plateforme de réservation en ligne où vous pourrez choisir les options de voyage qui vous conviennent le mieux.
</p>
<p>Si vous rencontrez des difficultés ou si vous avez des questions, n'hésitez pas à nous contacter directement à [insérer votre adresse e-mail ou numéro de téléphone].
</p>
<p>Nous vous remercions pour votre compréhension et votre patience dans cette situation. Nous sommes impatients de vous accueillir à nouveau à bord et de rendre votre voyage aussi agréable que possible.
</p>

<p>Cordialement,</p>
<i><b>CarsFleet</b></i>