$warning-color: #FCBF49;
$success-color: #A7C957;
$danger-color: #E63946;

$darkness-color: #393D3F;
$white-color: #E7ECEF;
$deep-blue-color: #274C77;
$medium-blue-color: #6096BA;
$light-blue-color: #A3CEF1;

