@import "air-datepicker/air-datepicker.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @layer utilities {
        body {
            @apply text-neutral-900;
        }
        /*lord-icon {*/
        /*    width: 75px;*/
        /*    height: 75px;*/
        /*}*/
        label.required::after {
            content:" *"!important;
            color:red!important;
        }
    }
    @layer components {
    }
}

.inline-calendar {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.air-datepicker {
    border: 1px solid #4B5563!important;
    min-width: var(--adp-width);
    width: unset;
}

.air-datepicker-nav {
    border: none;
}

.air-datepicker-nav--title:hover {
    background-color: #D1D5DB;
}

.air-datepicker--navigation {
    color: black;
    font-weight: bold;
}

.air-datepicker--content {
    padding: 0;
    background-color: white;
}

.air-datepicker-body--day-names {
    background-color: #EAF0F9;
    margin: 0;
    padding: 5px 0;
}

.air-datepicker-body--day-name {
    color: black;
    text-transform: none;
    font-size: 1em;
}

.air-datepicker-cell.-focus- {
    background-color: #ebebeb;
}

.air-datepicker-cell.-current- {
    color: #10B981;
    font-weight: bold;
}

.air-datepicker-cell.-weekend-,
.air-datepicker-cell.-disabled-:not(.already-borrowed) {
    background-color: #F3F4F6 !important;
    border-radius:0;
    color: black !important;
    cursor: default;
}

.already-borrowed, .already-borrowed:hover {
    background-color: #FCA5A5;
    border-radius:0;
    color: black !important;
    cursor: default;
}

.air-datepicker-cell.-day-.-other-month-,
.air-datepicker-cell.-day-.-disabled- {
    color: #0876DD;
    font-weight: bolder;
}

.air-datepicker-cell.-selected-:not(.-weekend-):not(.-disabled-),
.air-datepicker-cell.-selected-:hover:not(.-weekend-):not(.-disabled-) {
    background-color: #1F2937;
    color: white;
}

.air-datepicker-cell.-selected-.-current-:not(.-weekend-):not(.-disabled-),
.air-datepicker-cell.-selected-:hover.-current-:not(.-weekend-):not(.-disabled-) {
    background-color: #1F2937;
    color: white;
}

